nav {
    background-color: var(--cor-navegador);
    max-width: 100vw;
    padding: 1px;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
nav img{
    height: 800%
}

footer {
    background-color: var(--cor-navegador);
    color: antiquewhite;
    text-align: center;
    padding: 2px;
}
footer a {
    color: aliceblue;
    font-style: italic;
    text-decoration: none;
}
footer a:hover{
    background-color: blue;
}
